{% extends 'base.html' %}
{% block content %}
    <form action="{% url "feste" %}" method="POST">
    {% csrf_token %}
    <input type="date" name="von"/>
    <input type="date" name="bis"/>
    <input type="submit"/>
    </form>

    <ul class="dataList">

        {% for data in object_list %}
            <li>
                <ul>
                    <li>{{ data.bezeichnung }}</li>
                    <li>Von {{ data.von|date:"d.m.Y" }} bis {{ data.bis|date:"d.m.Y" }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}